In [8]:
import statsmodels.api as sm
import pandas as pd

sales = [1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0]
price = [1500, 2000, 5000, 3000, 3500, 2500, 4000, 4500, 3000, 4500, 4000, 4500, 5500, 6500, 5000, 3500, 7000]

data = {'sales': sales , 'price' : price}
df = pd.DataFrame(data)
df

    sales  price
0       1   1500
1       1   2000
2       1   5000
3       1   3000
4       1   3500
5       1   2500
6       1   4000
7       1   4500
8       1   3000
9       0   4500
10      0   4000
11      0   4500
12      0   5500
13      0   6500
14      0   5000
15      0   3500
16      0   7000

In [9]:
logis = sm.Logit.from_formula('sales ~ price', data=df).fit()
print(logis.summary())

Optimization terminated successfully.
         Current function value: 0.430873
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                  sales   No. Observations:                   17
Model:                          Logit   Df Residuals:                       15
Method:                           MLE   Df Model:                            1
Date:                Fri, 06 Oct 2023   Pseudo R-squ.:                  0.3768
Time:                        09:51:22   Log-Likelihood:                -7.3248
converged:                       True   LL-Null:                       -11.754
Covariance Type:            nonrobust   LLR p-value:                  0.002917
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      6.5752      3.300      1.993      0.046       0.108      13.042
price         -0.0016      0.001     -2.008      0.045      -0.003   -3.75e-05
==============================================================================

In [10]:
print(logis.params)

Intercept    6.575158
price       -0.001569
dtype: float64

In [11]:
import numpy as np

print(np.exp(logis.params))

Intercept    717.058841
price          0.998433
dtype: float64

In [12]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [13]:
titanic_logis = sm.Logit.from_formula('survived ~ pclass + sex + age +sibsp + parch + fare ',data=titanic).fit()
print(titanic_logis.summary())

Optimization terminated successfully.
         Current function value: 0.445244
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      707
Method:                           MLE   Df Model:                            6
Date:                Fri, 06 Oct 2023   Pseudo R-squ.:                  0.3408
Time:                        09:51:30   Log-Likelihood:                -317.90
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 5.727e-68
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       5.3890      0.604      8.926      0.000       4.206       6.572
sex[T.male]    -2.6348      0.220    -11.998      0.000      -3.065      -2.204
pclass         -1.2422      0.163     -7.612      0.000      -1.562      -0.922
age            -0.0440      0.008     -5.374      0.000      -0.060      -0.028
sibsp          -0.3758      0.127     -2.950      0.003      -0.625      -0.126
parch          -0.0619      0.123     -0.504      0.614      -0.303       0.179
fare            0.0022      0.002      0.866      0.386      -0.003       0.007
===============================================================================