In [1]:
for dan in range(2, 10):
    print(f'{dan}단')
    for i in range(1,10):
        print(f'{dan} x {i} = {dan * i}')

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [2]:
sum = 0
for sum in range(1, 10):
    for i in range(1,10):
        print(f'{sum} + {i} = ')

1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
4
4
4
4
4
4
4
4
4
5
5
5
5
5
5
5
5
5
6
6
6
6
6
6
6
6
6
7
7
7
7
7
7
7
7
7
8
8
8
8
8
8
8
8
8
9
9
9
9
9
9
9
9
9

In [3]:
sum = 0
for a in range(1, 10):
    sum = a
    print(sum)

1
2
3
4
5
6
7
8
9

In [4]:
sum = 0
for a in range(1, 11):
    sum += a
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [5]:
sum = 0
c = 0
for a in range(1, 11):
    c += a
    sum = c
    print(sum)

NameError: name 'c' is not defined

In [6]:
    print(sum)
sum = 0
c = 0
for a in range(1, 11):
    c += a
    sum = c
    print(sum)

IndentationError: expected an indented block after 'for' statement on line 4 (2415907349.py, line 5)

In [7]:
    print(sum)
sum = 0
for a in range(1, 11):
    sum += a
    print(sum)

IndentationError: expected an indented block after 'for' statement on line 3 (2645564108.py, line 4)

In [8]:
sum = 0
for a in range(1, 11):
    sum += a
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [9]:
sum = 0
for a in range(1, 11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [1]:
sum = 0
# i = 1
# while i <=10;
#     sum+=i
#     i +=1
for i in range(1,11); 
# range(0,100,2) 0부터 2씩까지 증가시켜라
    sum += i

print(sum)

SyntaxError: invalid syntax (2594844324.py, line 6)

In [2]:

sum = 0
# i = 1
# while i <=10;
#     sum+=i
#     i +=1
for i in range(1, 11):
# range(0,100,2) 0부터 2씩까지 증가시켜라
sum += i

print(sum)

IndentationError: expected an indented block after 'for' statement on line 7 (3762256879.py, line 9)

In [3]:
sum = 0
# i = 1
# while i <=10;
#     sum+=i
#     i +=1
for i in range(1, 11):
# range(0,100,2) 0부터 2씩까지 증가시켜라
sum += i

print(sum)

IndentationError: expected an indented block after 'for' statement on line 6 (3660865371.py, line 8)

In [6]:
sum = 0
# i = 1
# while i <=10;
#     sum+=i
#     i +=1 # range(0,100,2) 0부터 2씩까지 증가시켜라
for i in range(1, 11):
    sum += i

print(sum)

55

In [19]:
while True:
    print('음료목록 1.오렌지주스100원 2.커피200원 3.콜라300원')
    drink = int(input('음료를 고르세요'))
    coin = int(input('동전을 넣으세요'))

    
    if drink == 1:
        if coin >= 100:
            remain = coin - 100
            print('오렌지주스가 제공됩니다')
            print(f'거스름돈은 {remain}원입니다.')
        else:
            print('잔액이 부족합니다.')
            
    elif drink == 2:
        if coin >= 200:
            remain = coin - 100
            print('커피가 제공됩니다')
            print(f'거스름돈은 {remain}원입니다.')
        else:
            print('잔액이 부족합니다.')
            
    elif drink == 3:
        if coin >= 300:
            remain = coin - 100
            print('콜라가 제공됩니다')
            print(f'거스름돈은 {remain}원입니다.')
        else:
            print('잔액이 부족합니다.')
            
    else:
        print('없는 메뉴입니다. 다시 입력해주세요')
    coin = 0
    # break

음료목록 1.오렌지주스100원 2.커피200원 3.콜라300원
오렌지주스가 제공됩니다
거스름돈은 200원입니다.
음료목록 1.오렌지주스100원 2.커피200원 3.콜라300원
오렌지주스가 제공됩니다
거스름돈은 0원입니다.
음료목록 1.오렌지주스100원 2.커피200원 3.콜라300원

ValueError: invalid literal for int() with base 10: ''

In [11]:
a= '오렌지주스',100
print(a)

('오렌지주스', 100)

In [20]:
list = {1,2,3,4,5,6,7,8,9,10}
print(list[3:7])

TypeError: 'set' object is not subscriptable

In [21]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list[3:7])

[4, 5, 6, 7]

In [22]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list.reverse()
print(list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list.sort(reverse=True)
print(list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
dict_1 = {'name': '홍길동', 'birth' : 1990, 'addr': 'KR'}
print(dict_1['name'])

홍길동

In [29]:
name = 'name'
birth = 'birth'
addr = 'addr'
dict_2 = {'name': '홍길동', 'birth' : 1990, 'addr': 'KR'}
dict_2.update({'weight': 67.8, 'hobby' : ['게임','독서']})
print(dict_2)

dict_2['hobby'] = ['축구', '농구']
print(dict_2)

{'name': '홍길동', 'birth': 1990, 'addr': 'KR', 'weight': 67.8, 'hobby': ['게임', '독서']}
{'name': '홍길동', 'birth': 1990, 'addr': 'KR', 'weight': 67.8, 'hobby': ['축구', '농구']}

In [ ]:
list = {'식재료': ''}
input("추가할 식재료를 입력하시")